[workspace]
resolver = "3"
members = ["palanuk-runtime", "hal/cu-hcsr04", "hal/cu-propulsion", "hal/cu-cam-pan", "hal/cu-powermon", "hal/cu-zenoh-src", "hal/cu-zenoh-sink"]

[workspace.package]
publish = false
version = "0.1.0"
authors = ["Ander Jiloh <ander.jiloh@gmail.com>"]
edition = "2024"
license = "GPL-3.0-only"
keywords = ["autonomous", "copper-rs", "robotics", "real-time"]

[workspace.dependencies]
cu29 = { version = "0.10.0", features = ["macro_debug"] }
cu29-runtime = "0.10.0"
cu29-export = { version = "0.10.0" }
cu29-helpers = "0.10.0"
bincode = "2.0.1"
serde = "1.0.228"
hcsr04-gpio-cdev = "0.1.3"
# dumb-sysfs-pwm = { git = "https://github.com/andergisomon/dumb-sysfs-pwm.git" }
dumb-sysfs-pwm = { path = "/Users/ander/Documents/proj/dumb-sysfs-pwm" }
gpio-cdev = "0.6.0"
cu-propulsion = { path = "./hal/cu-propulsion" }
cu-cam-pan = { path = "./hal/cu-cam-pan" }
cu-hcsr04 = { path = "./hal/cu-hcsr04" }
cu-powermon = { path = "./hal/cu-powermon" }
cu-consolemon = "0.10.0"
ctrlc = "3.5.1"
libc = "0.2.176"
core_affinity = "0.8.3"
# iceoryx2 = "0.7.0"
zenoh = "1.6.2"

[build]
target = "aarch64-unknown-linux-gnu"

[profile.release]
debug = false
