[workspace]
resolver = "3"
members = ["palanuk-runtime", "hal/cu-hcsr04", "hal/cu-propulsion", "hal/cu-cam-pan", "hal/cu-powermon"]

[workspace.package]
publish = false
version = "0.1.0"
authors = ["Ander Jiloh <ander.jilo@gmail.com>"]
edition = "2024"
license = "LGPL-2.1-only"
keywords = ["autonomous", "copper-rs", "robotics", "real-time"]

[workspace.dependencies]
cu29 = "0.10.0"
cu29-runtime = "0.10.0"
bincode = "2.0.1"
serde = "1.0.228"
hcsr04-gpio-cdev = "0.1.2"
dumb-sysfs-pwm = { path = "/Users/ander/Documents/proj/dumb-sysfs-pwm" }
gpio-cdev = "0.6.0"

[build]
target = "aarch64-unknown-linux-gnu"
