(
    runtime: (
        rate_target_hz: 4, // 250ms cycle time
    ),

    tasks: [
        (
            id: "distance-sensor",
            type: "cu_hcsr04::CuHcSr04",
            config: {
                "trig_pin": 21,
                "echo_pin": 20,
            },
            logging: (enabled: true)
        ),

       (
           id: "power-monitoring",
           type: "cu_powermon::CuIna219",
           config: {
               "target_addr": 68, // 0d68 = 0x44
           },
       ),

       (
           id: "camera-panning",
           type: "cu_cam_pan::CameraPanning",
           config: {
               "sg90_pos_cmd_pin": 0 // PWM_CHAN0 = GPIO12
           },
           logging: (enabled: false)
       ),

        (
            id: "propulsion",
            type: "cu_propulsion::Propulsion",
            config: {
                "l298n_en_a": 2, // PWM_CHAN2 = GPIO18
                "l298n_en_b": 1, // PWM_CHAN1 = GPIO13
                "l298n_in_1": 23,
                "l298n_in_2": 24,
                "l298n_in_3": 26,
                "l298n_in_4": 19,
            },
            logging: (enabled: true)
        ),

        (
            id: "jogger",
            type: "Jogger",
            logging: (enabled: true)
        ),

        (
            id: "panner",
            type: "Panner",
            logging: (enabled: true)
        ),

        (
            id: "dummy",
            type: "Dummy",
            logging: (enabled: true)
        ),

     ],
    cnx: [
        (src: "distance-sensor", dst: "jogger", msg: "cu_hcsr04::HcSr04Payload"),
        (src: "distance-sensor", dst: "panner", msg: "cu_hcsr04::HcSr04Payload"),
        (src: "jogger", dst: "propulsion", msg: "cu_propulsion::PropulsionPayload"),
        (src: "panner", dst: "camera-panning", msg: "cu_cam_pan::CameraPanningPayload"),
        (src: "power-monitoring", dst: "dummy", msg: "cu_powermon::Ina219Payload"),
    ],
    monitor: (
          type: "cu_consolemon::CuConsoleMon",
    ),
    logging: ( file: "palanuk.copper", level: "debug" ),
)
