(
    runtime: (
        rate_target_hz: 56, // 50ms cycle time, lanekeeping and steering service runs at >= 24 fps.
    ),

    tasks: [

        (
            id: "distance-sensor",
            type: "cu_hcsr04::CuHcSr04",
            config: {
                "trig_pin": 21,
                "echo_pin": 20,
                "dist_threshold_cm": 2,
            },
            logging: (enabled: true)
        ),

        (
            id: "opencv-iox2",
            type: "opencv_iox2::OpenCViox2",
            config: {
                "heading_error_offset": -0.03,
            },
        ),

        (
            id: "opencv-splitter",
            type: "opencv_splitter::OpenCvSplitter",
        ),

        (
            id: "propulsion-adapter",
            type: "propulsion_adapter::PropulsionAdapter",
            config: {
                "e_stop_threshold_cm": 22, // Should be at least 22cm
            }
        ),

        (
            id: "panner-adapter",
            type: "panner_adapter::PannerAdapter",
        ),

        (
            id: "camera-panning",
            type: "cu_cam_pan::CameraPanning",
            config: {
                "sg90_pos_cmd_pin": 0 // PWM_CHAN0 = GPIO12
            },
            logging: (enabled: true)
        ),

        ( // PID ctrlr
            id: "dual-mtr-ctrlr",
            type: "dual_mtr_ctrlr::DualMtrCtrlr",
            config: {
                "kp": 0.007122,
                "kd": 0.0,
                "ki": 0.00000008,
                "setpoint": 0.0,
                "cutoff": 2.0,
            }
        ),

        (
            id: "arbitrator",
            type: "arbitrator::Arbitrator",
            config: {
                // "r_wind_comp_lmtr": 1.17,
                // "r_wind_comp_rmtr": 0.85,
                "corner_y_coord_steering_trig": 0.718,
                "baseline_speed": 0.7,
                "heading_error_end_steering_threshold": 0.21,
                "outer_wheel_steering_speed": 1.0,
                "inner_wheel_steering_speed": 0.0,
                "on_axis_rotation_duration_ms_left": 265, // 295
                "on_axis_rotation_duration_ms_right": 320,
                "steering_min_hold_ms": 70,
                "steering_delay_ms": 200,
                "steering_cooldown_ms": 400,
                "steering_max_hold_ms": 2000,
                "post_steering_boost_ms": 100,
                "target_yaw_degrees": 84.0,
                "wheelbase_cm": 13.0,
                "wheel_radius_cm": 3.0,
                "max_rpm": 600.0,
                "alignment_speed": 0.011,
                "alignment_deadband": 0.045,
                "alignment_pulse_ms": 50,
                "alignment_cooldown_ms": 200,
            }
        ),

        // BEGIN: 5V rail supply power monitoring

        (
            id: "5vrail-power-monitoring",
            type: "cu_powermon::CuIna219",
            config: {
                "target_addr": 0x44,
            },
        ),

        (
            id: "ec-pub-5vrail",
            type: "ec_pub::EcPub",
        ),

        (
            id: "5vrail-power-mwatts",
            type: "ec_5vrail_pubs::PowerMwattsSink",
            config: {
                "topic": "palanuk/ec/power/mwatts",
            },
        ),

        (
            id: "5vrail-load-current-mamps",
            type: "ec_5vrail_pubs::LoadCurrentMampsSink",
            config: {
                "topic": "palanuk/ec/load_current/mamps",
            },
        ),

        (
            id: "5vrail-bus-voltage-mvolts",
            type: "ec_5vrail_pubs::BusVoltageMvoltsSink",
            config: {
                "topic": "palanuk/ec/bus_voltage/mvolts",
            },
        ),

        (
            id: "5vrail-shunt-voltage-mvolts",
            type: "ec_5vrail_pubs::ShuntVoltageMvoltsSink",
            config: {
                "topic": "palanuk/ec/shunt_voltage/mvolts",
            },
        ),

        // END: 5V rail supply power monitoring

        // BEGIN: LMTR power monitoring

        (
            id: "lmtr-power-monitoring",
            type: "cu_powermon::CuIna219",
            config: {
                "target_addr": 0x40,
            },
        ),

        (
            id: "ec-pub-lmtr",
            type: "ec_pub::EcPub",
        ),

        (
            id: "lmtr-power-mwatts",
            type: "ec_lmtr_pubs::PowerMwattsSink",
            config: {
                "topic": "palanuk/ec/lmtr/power/mwatts",
            },
        ),

        (
            id: "lmtr-load-current-mamps",
            type: "ec_lmtr_pubs::LoadCurrentMampsSink",
            config: {
                "topic": "palanuk/ec/lmtr/load_current/mamps",
            },
        ),

        (
            id: "lmtr-bus-voltage-mvolts",
            type: "ec_lmtr_pubs::BusVoltageMvoltsSink",
            config: {
                "topic": "palanuk/ec/lmtr/bus_voltage/mvolts",
            },
        ),

        (
            id: "lmtr-shunt-voltage-mvolts",
            type: "ec_lmtr_pubs::ShuntVoltageMvoltsSink",
            config: {
                "topic": "palanuk/ec/lmtr/shunt_voltage/mvolts",
            },
        ),

        // END: LMTR power monitoring


        // BEGIN: RMTR power monitoring

        (
            id: "rmtr-power-monitoring",
            type: "cu_powermon::CuIna219",
            config: {
                "target_addr": 0x41,
            },
        ),

        (
            id: "ec-pub-rmtr",
            type: "ec_pub::EcPub",
        ),

        (
            id: "rmtr-power-mwatts",
            type: "ec_rmtr_pubs::PowerMwattsSink",
            config: {
                "topic": "palanuk/ec/rmtr/power/mwatts",
            },
        ),

        (
            id: "rmtr-load-current-mamps",
            type: "ec_rmtr_pubs::LoadCurrentMampsSink",
            config: {
                "topic": "palanuk/ec/rmtr/load_current/mamps",
            },
        ),

        (
            id: "rmtr-bus-voltage-mvolts",
            type: "ec_rmtr_pubs::BusVoltageMvoltsSink",
            config: {
                "topic": "palanuk/ec/rmtr/bus_voltage/mvolts",
            },
        ),

        (
            id: "rmtr-shunt-voltage-mvolts",
            type: "ec_rmtr_pubs::ShuntVoltageMvoltsSink",
            config: {
                "topic": "palanuk/ec/rmtr/shunt_voltage/mvolts",
            },
        ),

        // END: RMTR power monitoring

        // BEGIN: Subscribers to ODD

        (
            id: "zsrc-merger",
            type: "zsrc_merger::ZSrcMerger"
        ),

        (
            id: "bstn-openloop-speed",
            type: "bstn_subs::BstnOpenLoopSpeedSrc",
            config: {
                "topic": "palanuk/bstn/speed",
            },
        ),

        (
            id: "bstn-loopmode",
            type: "bstn_subs::BstnOpenLoopModeSrc",
            config: {
                "topic": "palanuk/bstn/loopmode",
            },
        ),

        (
            id: "bstn-openloop-drivestate",
            type: "bstn_subs::BstnOpenLoopDriveStateSrc",
            config: {
                "topic": "palanuk/bstn/drivestate",
            },
        ),

        (
            id: "bstn-openloop-forcepan",
            type: "bstn_subs::BstnOpenLoopForcepanSrc",
            config: {
                "topic": "palanuk/bstn/forcepan",
            },
        ),

        (
            id: "bstn-openloop-steercmd",
            type: "bstn_subs::BstnOpenLoopSteerCmdSrc",
            config: {
                "topic": "palanuk/bstn/steercmd",
            },
        ),

        // END: Subscribers to ODD

        // BEGIN: Subscribers to ITP

        (
            id: "itp-accelerate-cmd",
            type: "itp_subs::ItpAccelerateCmdSrc",
            config: {
                "topic": "palanuk/itp/accelerate",
            },
        ),

        (
            id: "itp-merger",
            type: "itp_merger::ItpMerger",
        ),

        // END: Subscribers to ITP

        // BEGIN: ANC publishers to ODD

        (
            id: "anc-pub",
            type: "anc_pub::AncPub",
        ),

        (
            id: "obstacle-detected",
            type: "anc_pubs::ObstacleDetectedSink",
            config: {
                "topic": "palanuk/anc/obstacle",
            },
        ),

        (
            id: "distance-reading",
            type: "anc_pubs::DistanceSink",
            config: {
                "topic": "palanuk/anc/distance",
            },
        ),

        (
            id: "lmtr-actual-speed",
            type: "anc_pubs::LmtrSpeedSink",
            config: {
                "topic": "palanuk/anc/lmtr-actual-speed",
            },
        ),

        (
            id: "rmtr-actual-speed",
            type: "anc_pubs::RmtrSpeedSink",
            config: {
                "topic": "palanuk/anc/rmtr-actual-speed",
            },
        ),

        // END: ANC publishers to ODD

        (
            id: "propulsion",
            type: "cu_propulsion::Propulsion",
            config: {
                "period_ns": 100000,
                "l298n_en_a": 2, // PWM_CHAN2 = GPIO18
                "l298n_en_b": 3, // PWM_CHAN3 = GPIO15, PIN10
                "l298n_in_1": 23,
                "l298n_in_2": 24,
                "l298n_in_3": 26,
                "l298n_in_4": 19,
            },
            logging: (enabled: true)
        ),

        (
            id: "encoder-pair",
            type: "cu_irencoder::CuIrEncoder",
            config: {
                "lmtr_output_pin": 17,
                "rmtr_output_pin": 27,
                "num_of_slots": 20,
                "max_rpm": 600
            }
        ),

        (
            id: "speed-err-adapter",
            type: "speed_err_adapter::SpeedErrAdapter",
        ),

        ( // speed ctrlr
            id: "lmtr-speed-ctrlr",
            type: "speed_ctrlrs::LmtrSpeedCtrlr",
            config: {
                "kp": 0.01,
                "kd": 0.0,
                "ki": 0.0000000025,
                "setpoint": 0.0,
                "cutoff": 10.0,
            }
        ),

        ( // speed ctrlr
            id: "rmtr-speed-ctrlr",
            type: "speed_ctrlrs::RmtrSpeedCtrlr",
            config: {
                "kp": 0.008,
                "kd": 0.0,
                "ki": 0.000000002,
                "setpoint": 0.0,
                "cutoff": 10.0,
            }
        ),

        (
            id: "speed-correction-summer",
            type: "speed_correction_summer::SpeedCorrectionSummer",
            // config optional for k_ff_lmtr and k_ff_rmtr
            config: {
                "k_ff_lmtr": 0.6, // 0.395,
                "k_ff_rmtr": 0.275, // 0.375,
                "max_pid_correction": 0.25,
                "speed_correction": "enable", // "enable" or "disable"
            },
            logging: (enabled: true)
        ),

     ],
    cnx: [
        (
            src: "5vrail-power-monitoring",
            dst: "ec-pub-5vrail",
            msg: "cu_powermon::Ina219Payload"
        ),

        (
            src: "lmtr-power-monitoring",
            dst: "ec-pub-lmtr",
            msg: "cu_powermon::Ina219Payload"
        ),

        (
            src: "rmtr-power-monitoring",
            dst: "ec-pub-rmtr",
            msg: "cu_powermon::Ina219Payload"
        ),

        // ec-pub-5vrail tails
        (src: "ec-pub-5vrail", dst: "5vrail-power-mwatts",         msg: "ec_pub::PowerMwatts"),
        (src: "ec-pub-5vrail", dst: "5vrail-load-current-mamps",   msg: "ec_pub::LoadCurrentMamps"),
        (src: "ec-pub-5vrail", dst: "5vrail-bus-voltage-mvolts",   msg: "ec_pub::BusVoltageMvolts"),
        (src: "ec-pub-5vrail", dst: "5vrail-shunt-voltage-mvolts", msg: "ec_pub::ShuntVoltageMvolts"),

        // ec-pub-lmtr tails
        (src: "ec-pub-lmtr", dst: "lmtr-power-mwatts",         msg: "ec_pub::PowerMwatts"),
        (src: "ec-pub-lmtr", dst: "lmtr-load-current-mamps",   msg: "ec_pub::LoadCurrentMamps"),
        (src: "ec-pub-lmtr", dst: "lmtr-bus-voltage-mvolts",   msg: "ec_pub::BusVoltageMvolts"),
        (src: "ec-pub-lmtr", dst: "lmtr-shunt-voltage-mvolts", msg: "ec_pub::ShuntVoltageMvolts"),

        // ec-pub-rmtr tails
        (src: "ec-pub-rmtr", dst: "rmtr-power-mwatts",         msg: "ec_pub::PowerMwatts"),
        (src: "ec-pub-rmtr", dst: "rmtr-load-current-mamps",   msg: "ec_pub::LoadCurrentMamps"),
        (src: "ec-pub-rmtr", dst: "rmtr-bus-voltage-mvolts",   msg: "ec_pub::BusVoltageMvolts"),
        (src: "ec-pub-rmtr", dst: "rmtr-shunt-voltage-mvolts", msg: "ec_pub::ShuntVoltageMvolts"),

        // zsrc-merger heads
        (src: "bstn-openloop-speed",      dst: "zsrc-merger", msg: "zsrc_merger::BstnOpenLoopSpeed"),
        (src: "bstn-loopmode",            dst: "zsrc-merger", msg: "zsrc_merger::BstnLoopMode"),
        (src: "bstn-openloop-drivestate", dst: "zsrc-merger", msg: "zsrc_merger::BstnOpenLoopDriveState"),
        (src: "bstn-openloop-forcepan",   dst: "zsrc-merger", msg: "zsrc_merger::BstnOpenLoopForcepan"),
        (src: "bstn-openloop-steercmd",   dst: "zsrc-merger", msg: "zsrc_merger::BstnOpenLoopSteerCmd"),

        // propulsion-adapter tails
        (src: "propulsion-adapter", dst: "panner-adapter", msg: "propulsion_adapter::PropulsionAdapterOutputPayload"),
        (src: "propulsion-adapter", dst: "dual-mtr-ctrlr", msg: "dual_mtr_ctrlr::DualMtrCtrlrPayload"),
        (src: "propulsion-adapter", dst: "arbitrator", msg: "propulsion_adapter::PropulsionAdapterOutputPayload"),

        // propulsion-adapter heads
        // zsrc-merger tail
        (src: "zsrc-merger",     dst: "propulsion-adapter", msg: "propulsion_adapter::ZenohTopicsAdapterOutputPayload"),
        (src: "distance-sensor", dst: "propulsion-adapter", msg: "cu_hcsr04::HcSr04Payload"),
        (src: "opencv-splitter", dst: "propulsion-adapter", msg: "opencv_splitter::NsmPayload"),

        // opencv-splitter head
        (src: "opencv-iox2", dst: "opencv-splitter", msg: "opencv_iox2::OpenCViox2Payload"),

        // panner-adapter tail
        (src: "panner-adapter", dst: "camera-panning", msg: "cu_cam_pan::CameraPanningPayload"),

        // arbitrator heads
        (src: "dual-mtr-ctrlr", dst: "arbitrator", msg: "cu_pid::PIDControlOutputPayload"),
        (src: "opencv-splitter", dst: "arbitrator", msg: "opencv_splitter::NsmPayload"),
        (src: "encoder-pair", dst: "arbitrator", msg: "cu_irencoder::IrEncoderPayload"),

        (src: "encoder-pair", dst: "speed-err-adapter", msg: "cu_irencoder::IrEncoderPayload"),

        // arbitrator tails
        (src: "arbitrator", dst: "speed-err-adapter", msg: "cu_propulsion::PropulsionPayload"),
        (src: "arbitrator", dst: "anc-pub", msg: "anc_pub::AncPubPayload"),

        (src: "encoder-pair", dst: "anc-pub", msg: "cu_irencoder::IrEncoderPayload"),

        (src: "speed-err-adapter", dst: "lmtr-speed-ctrlr", msg: "speed_ctrlrs::LmtrSpeedErrPayload"),
        (src: "speed-err-adapter", dst: "rmtr-speed-ctrlr", msg: "speed_ctrlrs::RmtrSpeedErrPayload"),

        // itp-merger heads
        (src: "itp-accelerate-cmd", dst: "itp-merger", msg: "itp_merger::ItpAccelerateCmd"),

        // speed-correction-summer heads
        (src: "lmtr-speed-ctrlr", dst: "speed-correction-summer", msg: "cu_pid::PIDControlOutputPayload"),
        (src: "rmtr-speed-ctrlr", dst: "speed-correction-summer", msg: "cu_pid::PIDControlOutputPayload"),
        // residual connection
        (src: "arbitrator", dst: "speed-correction-summer", msg: "cu_propulsion::PropulsionPayload"),
        // encoder feedback for stall detection
        (src: "encoder-pair", dst: "speed-correction-summer", msg: "cu_irencoder::IrEncoderPayload"),
        // itp accelerate command
        (src: "itp-merger", dst: "speed-correction-summer", msg: "itp_merger::ItpTopicsOutputPayload"),

        // speed-correction-summer tail
        (src: "speed-correction-summer", dst: "propulsion", msg: "cu_propulsion::PropulsionPayload"),

        // anc-pub tails
        (src: "anc-pub", dst: "obstacle-detected", msg: "anc_pub::ObstacleDetected"),
        (src: "anc-pub", dst: "distance-reading", msg: "anc_pub::Distance"),
        (src: "anc-pub", dst: "lmtr-actual-speed", msg: "anc_pub::LmtrSpeed"),
        (src: "anc-pub", dst: "rmtr-actual-speed", msg: "anc_pub::RmtrSpeed"),

    ],
    monitor: (
          type: "cu_logmon::CuLogMon",
    ),
    logging: ( file: "palanuk.copper", level: "debug" ),
)
