(
    runtime: (
        rate_target_hz: 20, // 50ms cycle time, lanekeeping and steering service runs at >= 24 fps.
    ),

    tasks: [

        (
            id: "distance-sensor",
            type: "cu_hcsr04::CuHcSr04",
            config: {
                "trig_pin": 21,
                "echo_pin": 20,
                "dist_threshold_cm": 2,
            },
            logging: (enabled: true)
        ),

        (
            id: "opencv-iox2",
            type: "opencv_iox2::OpenCViox2",
        ),

        (
            id: "opencv-splitter",
            type: "opencv_splitter::OpenCvSplitter",
        ),

        (
            id: "propulsion-adapter",
            type: "propulsion_adapter::PropulsionAdapter",
            config: {
                "e_stop_threshold_cm": 22,
            }
        ),

        (
            id: "panner-adapter",
            type: "panner_adapter::PannerAdapter",
        ),

        (
            id: "camera-panning",
            type: "cu_cam_pan::CameraPanning",
            config: {
                "sg90_pos_cmd_pin": 0 // PWM_CHAN0 = GPIO12
            },
            logging: (enabled: true)
        ),

        (
            id: "dual-mtr-ctrlr",
            type: "dual_mtr_ctrlr::DualMtrCtrlr",
            config: {
                "kp": 0.12,
                "kd": 0.0,
                "ki": 0.006,
                "setpoint": 0.00,
                "cutoff": 1.5,
            }
        ),

        (
            id: "arbitrator",
            type: "arbitrator::Arbitrator",
            config: {
                // "r_wind_comp_lmtr": 1.17,
                // "r_wind_comp_rmtr": 0.85,
                "corner_y_coord_steering_trig": 0.15,
            }
        ),

        // BEGIN: 5V rail supply power monitoring

        (
            id: "5vrail-power-monitoring",
            type: "cu_powermon::CuIna219",
            config: {
                "target_addr": 0x44,
            },
        ),

        (
            id: "ec-pub-5vrail",
            type: "ec_pub::EcPub",
        ),

        (
            id: "5vrail-power-mwatts",
            type: "ec_5vrail_pubs::PowerMwattsSink",
            config: {
                "topic": "palanuk/ec/power/mwatts",
            },
        ),

        (
            id: "5vrail-load-current-mamps",
            type: "ec_5vrail_pubs::LoadCurrentMampsSink",
            config: {
                "topic": "palanuk/ec/load_current/mamps",
            },
        ),

        (
            id: "5vrail-bus-voltage-mvolts",
            type: "ec_5vrail_pubs::BusVoltageMvoltsSink",
            config: {
                "topic": "palanuk/ec/bus_voltage/mvolts",
            },
        ),

        (
            id: "5vrail-shunt-voltage-mvolts",
            type: "ec_5vrail_pubs::ShuntVoltageMvoltsSink",
            config: {
                "topic": "palanuk/ec/shunt_voltage/mvolts",
            },
        ),

        // END: 5V rail supply power monitoring


        // (
        //     id: "lmtr-power-monitoring",
        //     type: "cu_powermon::CuIna219",
        //     config: {
        //         "target_addr": 0x40,
        //     },
        // ),

        // (
        //     id: "rmtr-power-monitoring",
        //     type: "cu_powermon::CuIna219",
        //     config: {
        //         "target_addr": 0x41,
        //     },
        // ),

        // BEGIN: Subscribers to ODD

        (
            id: "zsrc-merger",
            type: "zsrc_merger::ZSrcMerger"
        ),

        (
            id: "odd-openloop-speed",
            type: "odd_subs::OddOpenLoopSpeedSrc",
            config: {
                "topic": "palanuk/odd/speed",
            },
        ),

        (
            id: "odd-loopmode",
            type: "odd_subs::OddOpenLoopModeSrc",
            config: {
                "topic": "palanuk/odd/loopmode",
            },
        ),

        (
            id: "odd-openloop-drivestate",
            type: "odd_subs::OddOpenLoopDriveStateSrc",
            config: {
                "topic": "palanuk/odd/drivestate",
            },
        ),

        (
            id: "odd-openloop-forcepan",
            type: "odd_subs::OddOpenLoopForcepanSrc",
            config: {
                "topic": "palanuk/odd/forcepan",
            },
        ),

        (
            id: "odd-openloop-steercmd",
            type: "odd_subs::OddOpenLoopSteerCmdSrc",
            config: {
                "topic": "palanuk/odd/steercmd",
            },
        ),

        // END: Subscribers to ODD

        // BEGIN: ANC publishers to ODD

        (
            id: "anc-pub",
            type: "anc_pub::AncPub",
        ),

        (
            id: "obstacle-detected",
            type: "anc_pubs::ObstacleDetectedSink",
            config: {
                "topic": "palanuk/anc/obstacle",
            },
        ),

        (
            id: "distance-reading",
            type: "anc_pubs::DistanceSink",
            config: {
                "topic": "palanuk/anc/distance",
            },
        ),

        // END: ANC publishers to ODD

        (
            id: "propulsion",
            type: "cu_propulsion::Propulsion",
            config: {
                "l298n_en_a": 2, // PWM_CHAN2 = GPIO18
                "l298n_en_b": 3, // PWM_CHAN1 = GPIO13, PWM_CHAN1 is somehow faulty, using PWM_CHAN3 = GPIO15, PIN10
                "l298n_in_1": 23,
                "l298n_in_2": 24,
                "l298n_in_3": 26,
                "l298n_in_4": 19,
            },
            logging: (enabled: true)
        ),


     ],
    cnx: [
        (
            src: "5vrail-power-monitoring",
            dst: "ec-pub-5vrail",
            msg: "cu_powermon::Ina219Payload"
        ),

        // ec-pub-5vrail tails
        (src: "ec-pub-5vrail", dst: "5vrail-power-mwatts",         msg: "ec_pub::PowerMwatts"),
        (src: "ec-pub-5vrail", dst: "5vrail-load-current-mamps",   msg: "ec_pub::LoadCurrentMamps"),
        (src: "ec-pub-5vrail", dst: "5vrail-bus-voltage-mvolts",   msg: "ec_pub::BusVoltageMvolts"),
        (src: "ec-pub-5vrail", dst: "5vrail-shunt-voltage-mvolts", msg: "ec_pub::ShuntVoltageMvolts"),

        // zsrc-merger heads
        (src: "odd-openloop-speed",      dst: "zsrc-merger", msg: "zsrc_merger::OddOpenLoopSpeed"),
        (src: "odd-loopmode",            dst: "zsrc-merger", msg: "zsrc_merger::OddLoopMode"),
        (src: "odd-openloop-drivestate", dst: "zsrc-merger", msg: "zsrc_merger::OddOpenLoopDriveState"),
        (src: "odd-openloop-forcepan",   dst: "zsrc-merger", msg: "zsrc_merger::OddOpenLoopForcepan"),
        (src: "odd-openloop-steercmd",   dst: "zsrc-merger", msg: "zsrc_merger::OddOpenLoopSteerCmd"),

        // propulsion-adapter tails
        (src: "propulsion-adapter", dst: "panner-adapter", msg: "propulsion_adapter::PropulsionAdapterOutputPayload"),
        (src: "propulsion-adapter", dst: "dual-mtr-ctrlr", msg: "dual_mtr_ctrlr::DualMtrCtrlrPayload"),
        (src: "propulsion-adapter", dst: "arbitrator", msg: "propulsion_adapter::PropulsionAdapterOutputPayload"),

        // propulsion-adapter heads
        // zsrc-merger tail
        (src: "zsrc-merger",     dst: "propulsion-adapter", msg: "propulsion_adapter::ZenohTopicsAdapterOutputPayload"),
        (src: "distance-sensor", dst: "propulsion-adapter", msg: "cu_hcsr04::HcSr04Payload"),
        (src: "opencv-splitter", dst: "propulsion-adapter", msg: "opencv_splitter::NsmPayload"),

        // opencv-splitter head
        (src: "opencv-iox2", dst: "opencv-splitter", msg: "opencv_iox2::OpenCViox2Payload"),

        // panner-adapter tail
        (src: "panner-adapter", dst: "camera-panning", msg: "cu_cam_pan::CameraPanningPayload"),

        // arbitrator heads
        (src: "dual-mtr-ctrlr", dst: "arbitrator", msg: "cu_pid::PIDControlOutputPayload"),
        (src: "opencv-splitter", dst: "arbitrator", msg: "opencv_splitter::NsmPayload"),

        // arbitrator tails
        (src: "arbitrator", dst: "propulsion", msg: "cu_propulsion::PropulsionPayload"),
        (src: "arbitrator", dst: "anc-pub", msg: "anc_pub::AncPubPayload"),

        // anc-pub tails
        (src: "anc-pub", dst: "obstacle-detected", msg: "anc_pub::ObstacleDetected"),
        (src: "anc-pub", dst: "distance-reading", msg: "anc_pub::Distance"),

    ],
    monitor: (
          type: "cu_consolemon::CuConsoleMon",
    ),
    logging: ( file: "palanuk.copper", level: "debug" ),
)
